{
    "repositories": [
        {
            "source": "https://username:password@github.com/username/source.git",
            "branch": "5.0",
            "subtrees": [
                {
                    "path": "a/subdirectory/path",
                    "dest": "https://username:password@github.com/username/dest1.git",
                    "branch": "master"
                },
                {
                    "path": "a/subdirectory/path",
                    "dest": "https://pitpit:zobzob81@github.com/username/dest2.git",
                    "branch": "master"
                }
            ]
        }
    ]
}